:root {
  box-sizing: content-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

body *+* {
  margin-top: 1.5em;
}

.container {
  max-width: 1080px;
  padding: 1.5em;
  margin: 0 auto;
  background-color: #b0b3d6;
  border-radius: .5em;
}

.form-todo {
  display: flex;
}

.form-todo *+* {
  margin-top: 0;
}

textarea {
  resize: vertical;
}

table {
  width: 100%;
}

.input-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.input-button {
  justify-content: end;
}

.input-button>input {
  padding: .7em .9em;
  background-color: #474a8a;
  border-radius: .5em;
  text-transform: uppercase;
  font-weight: bold;
}

.input-container+.input-container {
  margin-left: 1.5em;
}